   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    overflow: hidden;
    right: 0;
    position: fixed;
    top: 0;
}

nav ul li {
    margin-left: 50px;
    color: #a5a1a1;
}

nav ul li a {
    text-decoration: none;
    color: #a5a1a1;
}

/* nav {
    background-color: #0c411c;
    color: #fff;
    padding: 1em;
    text-align: right;
    justify-content: space-between;
} */
/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}
nav li {
    margin-right: 15px;
    justify-content: right;
}
nav a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none; */
/* }
nav a:hover {
    background-color: bisque;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
} */

.main-header{
    margin-top: 50px;
    text-align: center;
    padding: 10px;
}

.gallery  {
    display: flex;
    /* flex-direction: column; */
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 8px;
    background-color: #f2e9e9;
}
.gallery-text {
    padding: 20px;
    margin: 20px;
}

footer{
    background-color: rgb(47, 45, 45);
    color: bisque;
}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .gallery {
        flex-direction: column;
        text-align: justify;
    }
    .gallery-image{
        width: 50%;
    }
    body {
        font-size: 100%;
        box-sizing: border-box;
        padding: 0%;
    }
    nav {
        font-size: 50%;
        display: flex;
        flex-direction: row;
    }

}
