
*{
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
    justify-content: center;
    
}
nav ul li{
    margin-top: 15px;
    padding: 8px;
    list-style-type: none;
    
    
}
nav ul li a{
    color: rgb(39, 43, 43);
    text-decoration: none;
}


 body{
    background-color: #5b9ac0;
    overflow-x: scroll;
     
} 
 nav{
     background-color:  rgb(211, 243, 246); 
    height: 12vh;
    border-radius: 100px;
    color: rgb(90, 101, 101);
    overflow-x: scroll;
 }
h1{
    text-align: center;
    font-size: 50px;
}
div{
    
    font-size: 40px;
    margin: 100px 0px 100px 100px;
    margin-bottom: 0;
    color: rgb(211, 243, 246);
}
i{
    color: black;
    border: 3px solid rgb(211, 243, 246);
    border-radius: 30px;
    background-color: rgb(211, 243, 246);
    width: 50px;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}
@media screen and (max-width:767px) {
    
    
    nav ul{
        display: flex;
        justify-content: flex-start;

    }
    nav ul li{
        font-size: 10px;
        display: flex;
        justify-content: flex-start;
        padding: 5px;
        
        
    }
    div i{
        display: flex;
        justify-content: center;
    }
    div i{
     display: flex;
      justify-content: center;
      
    }
    body{
        background-color: #5b9ac0;
    }
    body{
        width: fit-content;
        margin: auto;
    }
    }
